//Centrar el elemento y le damos un tamaño
#maestro{
	width: 60%;
	margin: auto;
	border: 1px solid black; 
}

input{
	display: inline;
}

label{
	color: blue;
	font-weigth: bold;
	font-size: 1.1em;
	display: block;
}

button{
	display: block;
}

.error{
	visibility: hidden;
	color: red;
	font-size: 1.1em;
	display: inline;
}

#enviar{
	display: none;
}
